
<div *ngIf="searchResult?.length== 0 && searchResult"> <app-not-found [notFoundMassage]="notFoundMassage"></app-not-found> </div>
<div *ngIf="!searchResult"> loading.... </div>
<main class="container">
  <div *ngIf="searchResult?.length!= 0 && searchResult "  class="row row-cols-1 row-cols-md-4 g-4 m-1">
    <section *ngFor="let movie of searchResult" >
        <!-- {{movie.original_title}} -->
        <app-movie-card [cardItem]="movie" ></app-movie-card>
    </section> 
</div> 
<nav aria-label="Page navigation example" *ngIf="total_results">
  <ul class="pagination">
    <li class="page-item">
      <button class="page-link" aria-label="Previous" (click)="previousPage()" [disabled]="pageNumperToShow==1" [class.disabled]="pageNumperToShow==1">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <li class="page-item" *ngFor="let num of createRange()"><button class="page-link " [ngClass]="(pageNumperToShow + num)==pageNumper?'bg-warning':''"#numPages (click)="getPage(pageNumperToShow + num ,numPages)" *ngIf="(pageNumperToShow + num)<=total_pages ">{{pageNumperToShow + num }}</button></li>
    <!-- <li class="page-item"><button class="page-link" >{{pageNumper+1}}</button></li>
    <li class="page-item"><button class="page-link" >{{pageNumper+2}}</button></li> -->
    <li class="page-item">
      <button class="page-link" aria-label="Next" (click)="nextPage()"  [class.disabled]="(pageNumperToShow+numperPage)>total_pages">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav> 
</main>


