body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.loader {
  margin: auto;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#000 25%, #ffc400 0);
  background-size: 100% 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
