.lang{
  width: 80px;
  margin: auto;
  border-radius:10px;
  font-weight: bold;
  text-transform: uppercase;
}
.card{
  height: 100%;
}
.star{
  font-size: 16px;
}
.star p{
  font-weight: bold;
}
.text-content{
  margin-bottom: 20px;
}
.rating{
  margin-top: 0;
}
@media (max-width: 991px) {
  .btns button{
    padding: 0px 9px 0px 9px;
  }
}