.lang{
  width: 30px;
  margin: auto;
  border-radius:20px;
}
.card{
  max-height: 628px;
}
.star{
  top: -217%;
  right: 3%;
  font-size: 16px;
}

.star p{
  top: 11%;
  right: 25%;
  font-weight: bold;
  margin: auto;
}
