<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a
      class="navbar-brand p-0"
      routerLink=""
      routerLinkActive="text-primary"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img
        src="../../../assets/logo.png"
        class="img img-fluid rounded-circle"
        alt="Movies App"
        style="max-width: 60px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbarCollapsing()"
      (window:resize)="toggleNavbarCollapsingWindowResize($event)"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse w-100"
      [ngClass]="{ collapse: navbarCollapsed }"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link active " aria-current="details" routerLink="details" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">  details</a> -->
        </li>
        <li class="nav-item">
          <a
            class="nav-link py-0"
            aria-current="watch list"
            routerLink="watchlist"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            ><fa-icon [icon]="faHeart" class="me-1 h4"></fa-icon>
            <span class="h5">WishList</span>
            <span
              [innerHTML]="wishMovieNumper"
              class="bg-light h5 mx-2 wish-movie-numper rounded-2"
            ></span>
          </a>
        </li>
      </ul>
      <form class="d-flex" [class.w-100]="!navbarCollapsed">
        <input
          class="form-control me-2 search-text o"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchVal"
          name="searchVal"
        />
        <input
          class="btn btn-outline-secondary search-butt"
          type="button"
          value="Search"
          (click)="search()"
        />
      </form>
    </div>
  </div>
</nav>
