
.movie-image img{
	max-width: 100%;
}
.details-page{
	margin-top: 50px;
}
.div-2{
	position: relative;
}
.div-2 .heart{
	position: absolute;
	right: 10%;
	top: 20px;
	color:#ddd;
	cursor: pointer;
}
.movie-type-spans span{
	margin-right: 7px;
	padding: 7px 20px 8px 20px;
	background-color:rgb(255, 187, 0); ;
	border-radius: 6px;
}
.buuton-sohw{
	border:none;
	font-weight: bold;
	font-size: medium;
}
@media (min-width:991px) {
	.disapeeer{
		display: none;
	}
}
@media (max-width:990px) {
	.apeer{
		display: none;
	}
	.disapeeer{
		padding-bottom: 20px;
	}
	.div-2{
		margin-top: 20px;
	}
	.div-2 .heart{
		right: 29%;
	}
}
@media (max-width:768px) {
	.div-2 .heart{
		right: 4%;
	}
}