  .footer {
    background-color: #19283f;
  }

  .footer .copyright>span {
    color: #33d1cc
  }

  .footer .copyright div span {
    color: #ffc400;
  }
  .footer ul li {
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
  }

  .footer ul li:hover {
    opacity: 1;
  }
.email-color:hover{
  color:#fff
}